@keyframes nav-slide {
  from {
    transform: translateX(-30rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes nav-slide-back {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(-30rem);
  }
}

@keyframes pulse {
  0% {
    background-color: #41BBE0;
  }
  100% {
    background-color: #9548E0;
  }
}

.animate-nav-forward {
  animation-name: nav-slide;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.animate-nav-back {
  animation-name: nav-slide-back;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.logo-background {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
