/*
Style sheet for general classes used through out the website
*/

/* General CSS*/
*{
  box-sizing: border-box;
}

body{
  font-family: roboto, sans-serif;
  font-size: 1.3rem;
  padding-left: 4rem;
  background-color: #232323;
  color: white;
}

p{
  max-width: 60rem;
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  max-width: 40rem;
  margin: 1rem 0 1rem 0;
}

h1{
  font-size: 6rem;
}

h2{
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #3586D6;
}
h3{ font-size: 1.8rem; }
h4{ font-size: 1.6rem; }
h5{ font-size: 1.4rem; }
h6{ font-size: 1.2rem; }

.element{
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.page-header{
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.page-title{
  margin-left: 5rem;
}

.logo-icon{
  max-width: 10rem;
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

/* In text link CSS*/
.in-text-link{
  text-decoration: underline;
  color: white;
  transition-duration: color;
  transition-duration: 0.15s;
}

.in-text-link:hover{
  text-decoration: underline;
  color: #3586D6;
}

/* Button nav CSS*/
.button-nav{
  color: #000000;
  background-color: #FFFFFF;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus{
    background-color: #3586D6;
    color: #FFFFFF;
}

/* Image as Link CSS*/
.image-as-link{
  transition: background-color 0.3s ease-out;
}

.image-as-link:hover{
  background-color: #41BBE0;
}

/* Content with Image CSS*/
.content-with-image{
  margin-bottom: 3rem;
}

.content-with-image img{
  margin-right: 4rem;
}

.content-with-image .content{
  margin-right: 4rem;
}

/* nav bar css*/
.nav-flex-container{
  display: flex;
  flex-direction: column;
}

#side-nav{
  background-color: white;
  height: 100vh;
  max-width: 30rem;
  padding-left: 4rem;
  padding-right: 8rem;
  padding-top: 2rem;
  position: fixed;
  left: 0;
  top: 0;
}

#side-nav a{
  color: #232323;
  text-decoration: none;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 3rem;
  transition: color 0.1s ease-out;
}

#side-nav a:hover{
  color: #3586D6;
}


.hidden{
  visibility: hidden;
}

/* Different sizes for images */
.image-sm{
    max-width: 30%;
    height: auto;
}

.image-md{
    max-width: 40%;
    height: auto;
}

.image-lg{
    max-width: 60%;
    height: auto;
}

.image-full{
    max-width: 100%;
    height: auto;
}

/* Different sizes for buttons */
.button-sm{
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1rem;
}

.button-md{
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-size: 1.2rem;
}

.button-lg{
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 2rem;
}
