.project-row-display p{
  max-width: 40vw;
}

.project-row-display h2, .project-row-display h3{
  max-width: 50vw;
}

.project-row-display img{
  max-width: 30vw;
}

.project-row-first{
  padding-right: 5rem;
}

.project-row-second{
  padding-left: 5rem;
  border-left: 4px solid white;
}
